/**************************************variables**********************/
@import 'variables.scss';
$num-words:4;
$anim-dur:3000ms;
$anim-delay:calc($anim-dur/$num-words);
/***************************************mixins************************/

@import 'mixins.scss';

/*******************************keyframes**************************/

@keyframes loader {
	0%{
		opacity: 1;
	}
	100%{
		opacity: 0;
		height: 0;
		visibility: hidden;
	}
}
@keyframes words{
	0%{
		opacity: 0;
        color: $color-tertiary;
	}
	100%{
		opacity: 1;
        color:  $color-secondary;
	}
}

@keyframes dual-ring{
    0% {
        transform: rotate(0deg);
      }
      70%{
          opacity: 1;
      }
      100% {
          transform: rotate(360deg);
          opacity: 0;
      }
}

/***************************GLOBAL**************************/
*{
    box-sizing: border-box;
}

.container {
    margin: auto;
}
  
body {
    font-family: "Roboto", sans-serif;
}

a{
    text-decoration: none;
    color: inherit;
}

h1,p{
    margin: 0;
}

/******************************loader***************************/
.loader{
    width: 100%;
    height: 100vh;
    background-color:#353535;
    @include flex-center;
    animation: loader 800ms $anim-dur+400ms ease-in-out forwards;
	& .word{
		font-family: 'Shrikhand', sans-serif;
		font-size: 3em;
		color: white;
		animation: words $anim-dur both;
		@for $i from 1 through $num-words{
            &--#{$i}{
                animation-delay: $anim-delay*$i;
             }
        }
	}

}

.dual-ring{
    position: absolute;
    width: 80px;
    height: 80px;
}

.dual-ring::after{
        content: ".";
        font-size:0;
        display: block;
        width: 64px;
        height: 64px;
        margin: 8px;
	    border-radius: 50%;
	    border: 6px solid white;
     	border-color: $color-secondary transparent $color-primary transparent;
    	animation: dual-ring 800ms linear forwards;
}

/**********************************header*************************/

header{
    font-family: "Shrikhand", cursive;
    text-align: center;
    box-shadow: 0 0 2px ;
    padding: 5px;
    margin: 0;
    position: relative;
    cursor: pointer;
    img{
        width: 42%;
    }
}

.city{
    background-color: #e9e7e7;
    text-align: center;
    padding: 10px;
    display: flex;
    text-align: center;
    align-items:center;
    justify-content: center;
    gap: 15px;
    i{
        font-size:20px;
    }

    h2{
        font-size: 15px;
    }

    .search{
        border: none;
        background-color:#e9e7e7;
        font-size: 20px;
        font-family: "Roboto", sans-serif;
        font-weight: bold;
    }
    
    
}

/********************text d'accueil*************/

.text_accueil{
    background-color:$color-background;
    text-align: center;
    padding-bottom: 60px;
    h1{
        font-size: 30px;
        margin-top: 0;
        margin-bottom:20px;
        padding:40px;
    }
    p{
         margin-bottom:50px;
    }

    .btn{
        width:15em;
        @include button;
        @include bx-shadow;
        @include gradient(0.9);
        &:hover{
            transform: scale(1.2);
            opacity: 0.9;
        }
    }
}

.fonct_list{
    counter-reset: list;

    h2{
        padding: 30px 15px;
        text-align: center;
    }
    .fonct_items{
        display: flex;
        gap: 20px; 
        padding:0 25px 40px 25px;
        margin: 20px;
        cursor: pointer;
    }
    .items{
        background-color:$color-background;
        border: none;
        border-radius: 15px;
        padding: 25px 30px;
        flex-grow: 1;
        @include bx-shadow;
        list-style-type: none;
        position: relative;

        &::before{
            content: counter(list);
            counter-increment: list;
            color: white;
            background-color: $color-primary;
            border-radius: 50%;
            left: -12px;
            top: 10px;
            width: 30px;
            height: 30px;
            display: grid;
            place-items: center;
            position: absolute;
            transform: translateY(32%);
        }
    }

    :hover.items{
        background-color: lighten($color-primary,30%);
        & .icone{
        color: $color-primary;
    }
    }
    
}



/***********************menu_restaurants**********************/ 
.menu{
    background-color:$color-background;
    padding: 48px 15px;

    & h2{
        margin: auto;
        padding-bottom: 30px;
        text-align: center;
    }

    &_cards{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 50px;
        margin: 0 30px 0 30px;
        
        .card_default{
            position: relative;
            @include border;
            @include bx-shadow;
            transition: transform 250ms ease-in-out;
        }

        .card_default:hover{
            transform: scale(1.02);
        }
        
        .card_nv{
            position: relative;
            @include border;
            @include bx-shadow;
            transition: transform 250ms ease-in-out;
        }

        .card_nv::before{
            content: "Nouveau";
            position: absolute;
            background-color:$color-tertiary;
            color: green;
            padding: 5px 12px;
            right: 15px;
            top: 15px;
            font-weight: bold;
            border-radius: 5px;
        }

        .card_nv:hover{
            transform: scale(1.02);
        }

        .card_text{
            h3,p{
                margin: 10px;
            }

            .heart{
                position: relative;
    
                &::before{
                    @include heart;
                }
    
                &::after{
                    @include heart($opacity:0, $font-weight:900, $color:transparent);
                    @include gradient(1);
                }
    
                &:hover::after{
                    opacity: 1;
                    transform: translateY(-50%) scale(1);
                }
            }

        }

    }

    img{
        width: 100%;
        height: 400px;
        object-fit: cover;
        border-radius: 30px;
    }
}

/***********************footer*************************************/

footer{
    background-color: #353535;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    margin-top: 30px;

    h1{
        font-family: 'Shrikhand', sans-serif;
        font-weight:unset;
        font-size: 22px;
        text-align: center;
        color: white;
        cursor: pointer;
    }

    ul{
        padding: unset;
        display: flex;
        justify-content: center;
    }

    li{
        padding-top: 10px;        
        padding: 20px;
        list-style: none;
        color: white;
        cursor: pointer;
    }

    i{
        padding-right: 5px;
        text-decoration: none;
    }

}

.fa-hands-helping{
    font-size:12px;
}


/***************************Tablette*******************************/

@media screen and (max-width: 991px){
    .fonct_list{

        h2{
            text-align: justify;
        }

        .fonct_items{
            flex-direction: column;
        }
    }

    .menu{

        h2{
            text-align: justify;
        }
        &_cards{
            grid-template-columns: repeat(1,1fr);
            margin: 0;
        }

        img{
            height: 225px;
        }
    }

}


/**********************mobile*************************/

@media screen and (max-width:767px) {
    .fonct_list{

        h2{
            text-align: justify;
        }

        .items{
            flex-direction: column;
        }
    }

    .menu{

        h2{
            text-align: justify;
        }
        &_cards{
            grid-template-columns: repeat(1,1fr);
            margin: 0;
        }

        img{
            height: 225px;
        }
    }

    footer{
        display:flex;
        flex-direction: column;
        text-align: justify;
        padding: 20px;
        
        h1{
            font-family: 'Shrikhand', sans-serif;
            font-weight:unset;
            font-size: 22px;
            text-align:justify;
        }
    
        ul{
            padding: unset;
            display: flex;
            flex-direction: column;
        }
    
        li{
            padding-top: 10px;        
            padding: 5px 0;
            list-style: none;
    
        }
    
        i{
            padding-right: 5px;
            text-decoration: none;
        }
    
    }

}
